<footer id="footer">
    <div class="col-md-1 col-sm-1 col-xs-1 footer_icon_pos">
        <!--<a style="text-decoration: none;" href="#"><img width="40" src="{$baseurl}/out/pictures/icons/twitch_icon.png"/></a>-->
    </div>

    <div class="col-md-10 col-sm-10 col-xs-10">
        <small>
            <b>COPYRIGHT</b> &copy; <b>LEGION SILKROAD ONLINE, All rights reserved</b>
        </small>
    </div>

    <div class="col-md-1 col-sm-1 col-xs-1 footer_icon_pos">
        <!--<a style="text-decoration: none;" href="#"><img width="40" src="{$baseurl}/out/pictures/icons/fb_icon.png"/></a>-->
    </div>
</footer>