<!-- Static navbar -->
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--<a href="{$baseurl}">
            <img class="nav_logo" src="{$baseurl}/out/pictures/navbar_logo.png">
        </a>-->
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <!-- Standard navigation start -->
            <li class="{$sNewsActive}"><a href="{$baseurl}/"><span class="glyphicon glyphicon-info-sign"></span> News</a></li>
            <li class="{$sDownloadActive}"><a href="{$baseurl}/download"><span class="glyphicon glyphicon-download"></span> Downloads</a></li>
            <li class="{$sDonateActive}"><a href="{$baseurl}/donate"><span class="glyphicon glyphicon-euro"></span> Donate</a></li>
            <li><a target="_blank" href="{$baseurl}/forum"><span class="glyphicon glyphicon-question-sign"></span> Forum</a></li>
            <li class="{$sRankingActive}"><a href="{$baseurl}/ranking"><span class="glyphicon glyphicon-arrow-up"></span> Ranking</a></li>
            <!-- Standard navigation end -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="list-group-item-info"><a href="{$baseurl}/account/buysilk"><span class="glyphicon glyphicon-plus"></span> Charge Silk</a></li>

            <!-- register / login start -->
            {if !$blLoggedIn}
                <li class="{$sRegisterActive}"><a href="{$baseurl}/register"><span class="glyphicon glyphicon-dashboard"></span> Register</a></li>
                <li><a data-toggle="modal" data-target="#loginModal" href=""><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {/if}
            <!-- register / login end -->

            <!-- logout start -->
            {if $blLoggedIn}
                <li><p style="margin-left: 15px;" class="navbar-text">Logged in as: <span class="text-info">{ucfirst($oUser->StrUserID)}</span></p></li>
                <li class="{$sAccountActive}"><a href="{$baseurl}/account"><span class="glyphicon glyphicon-user"></span> My account</a></li>
                <li><a href="{$baseurl}/index/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {/if}
            <!-- logout end -->
        </ul>
    </div>
</nav>

{include file="modal_login.tpl"}