<div class="col-md-12 content_bg_color">
    <h3 style="color: green;">Welcome {$sUsername},</h3>
    <p>
        thanks for your registration on our Silkroad private server! Have fun!
        Login to see more content. Under downloads you can download our client!
    </p>
</div>