/*
    Created on : 11.11.2014, 17:08:49
    Author     : Daniel Hormeß <hormess@solutiondrive.de>
*/

/* main */
.nav_logo {
    height: 47px;
    margin: 0 10px 0 0;
    padding-right: 10px;
    width: 148px;
}

#bg_contents {
    background: url("../../../out/pictures/bg_contents.jpg");
    background-repeat: no-repeat;
    background-position: center 0px;
    background-color: #1d1812;
}

.above_header_height {
    min-height: 220px;
    text-align: center;
}

.above_header_logo {
    width: 100%;
    max-width: 600px;
    margin-top: 50px;
}

.under_header_height {
    min-height: 130px;
}

.jumbotron p {
    font-size: 15px !important;
}

.col-reset-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.col-reset-padding-left {
    padding-left: 0 !important;
}

.head_comment {
    background: #ffffff;
    border: 1px solid #cccccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 0 1px 10px;
    text-align: center;
}

.body_comment {
    background: #dddddd;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navbar-nav > li:hover {
    background: #ebebeb;
}

.newsButton:before {
    content: 'See more';
}

.newsButton[aria-expanded="true"]:before {
    content: 'Close';
}

.custom-jumbotron {
    padding: 1px 10px 10px !important;
}

.accordion-lineheight {
    line-height: 20px;
}

.stats-box {
    height: 110px;
    background: #1b2426;
    color: #fff;
    opacity: 0.7;
}

.stats-box p {
    color: #577163;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.stats-box span {
    
}

.stats-box span.glyphicon {
    float: left;
    font-size: 44px;
}

.stats-box span.server_online_stat {
    display: block;
    text-align: center;
    font-family: "Verdana";
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
}

.stats-box span.player_online_stat {
    display: block;
    text-align: center;
    font-family: "Verdana";
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
}

.stats-box span.countdown_stat {
    display: block;
    text-align: center;
    font-family: "Verdana";
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}

.content_bg_color {
    background: #f7f7f7;
    box-shadow: 0 0 5px 1px #1e1e1e;
}

.sidebar_bg_color {
    background: #f7f7f7;
}

.fortress_hotan_icon {
    background: url("../../../out/pictures/icons/fortress-hotan.png") no-repeat;
    display: block;
    height: 16px;
    width: 16px;
}

.fortress_jangan_icon {
    background: url("../../../out/pictures/icons/fortress-jangan.png") no-repeat;
    display: block;
    height: 16px;
    width: 16px;
}

.fortress_bandit_icon {
    background: url("../../../out/pictures/icons/fortress-bandit.png") no-repeat;
    display: block;
    height: 16px;
    width: 16px;
}

.breadcrumb {
    margin-bottom: 0 !important;
}

#bread.form-group {
    margin-bottom: 0 !important;
}

#footer {
    background: url("../../../out/pictures/footer_bg.jpg") repeat-x scroll left top #3d3d3d;
    border-top: 1px solid #2e2e2e;
    color: #acacac;
    min-height: 70px;
    padding: 25px 0 0;
    margin: 20px 0 0;
    box-shadow: 0 0 10px 5px #1e1e1e;
}

.footer_icon_pos {
    text-align: center;
}

/* login screen */
#login_error_screen {
    background: url("../../../out/pictures/login_background.jpg");
    background-repeat: no-repeat;
    background-position: center 0px;
}

.login_error_screen_box {
    margin-top: 200px;
}

.login_error_screen_label {
    color: #ffffff;
}

/* my account */
.btn-width-200 {
    width: 200px;
}

/* reset character */
.reset_char_box {
    border: 1px solid #ccc;
    margin: 15px;
}